streamlit
spacy
spacy_streamlit
textblob
pattern
beautifulsoup4
html5lib
click
sumy
pysummarization
torch
torchvision
torchaudio
transformers
sentencepiece
boto
boto3
botocore
openai
python-dotenv
altair==4.0

